body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #000;
  color: #fff;
  width: 100vw;
}
.container {
  margin: 20px 380px;
}

header {
  padding: 20px 20px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h3 {
  font-size: 18px;
}
.navbar {
  display: flex;
  justify-content: space-between;
}

li a button {
  margin: auto;
}
button {
  text-decoration: none;
  background-color: yellow;
  padding: 10px 15px;
  color: #222;
  border: none;
}
ul {
  margin-bottom: 0;
}

.navbar {
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-menu li {
  list-style: none;
  padding: 0 1rem;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

a.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a.nav-link:hover {
  color: orange;
}

.hamburger {
  display: none;
}

.bar,
.fa-times {
  width: 1.5rem;
  height: 3px;
  display: block;
  color: #fff;
  padding: 0;
  margin: 6px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #fff;
}

.bar:nth-child(1) {
  width: 100%;
}

.bar:nth-child(2) {
  width: 200%;
}

.bar:nth-child(3) {
  width: 300%;
}

@media (max-width: 992px) {
  .hamburger {
    display: block;
  }
  .active .bar:nth-child(2) {
    opacity: 0;
  }
  .active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(-315deg);
    transform: translateY(8px) rotate(-315deg);
    width: 300%;
  }
  .active .bar:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
    width: 300%;
  }
  .nav-menu {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 75px;
    right: -100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin: 0 auto;
  }

  .nav-menu li {
    padding: 1rem 0;
  }

  a.nav-link {
    margin: 1rem 0;
    color: #333;
    z-index: 1;
  }

  .active {
    right: 0;
    z-index: 100;
    transition: 0.2s ease;
  }
}

@media screen and (max-width: 480px) {
  a.nav-link {
    padding: 0.75rem 0;
  }
}
section {
  margin: 0 20px;
}
section h1 {
  font-size: 45px;
  line-height: 3rem;
}
aside {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 20px;
}
.card {
  width: 40%;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
}
.card-holder {
  margin: 0 60px 0 0;
}
.card-holder h2 a {
  text-decoration: none;
  color: #fff;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 200px;
  background-color: gray;
}
main .first {
  width: 30%;
  padding: 10px 0 0 200px;
}
.first h3 {
  font-size: 25px;
}
.first p {
  font-size: 14px;
}
main .second {
  width: 35%;
  padding: 10px 200px 0 0;
}
.second p {
  font-size: 14px;
}
